fieldset {
  padding: 1rem 2rem;
  color: cadetblue;
}

legend {
  font-weight: bolder;
}

legend:last-of-type {
  padding-top: 1rem;
}

.form {
  display: flex;
  flex-direction: column;
}

input[type='radio'] {
  accent-color: cadetblue;
  margin-right: 0.25rem;
}

input[type='radio'][id='other'] + label + input[type='text'] {
  visibility: hidden;
}

input[type='radio'][id='other']:checked + label + input[type='text'] {
  visibility: visible;
  margin-left: 0.5rem;
}

input[type='submit'] {
  color: cadetblue;
  margin-top: 1rem;
}
